.electricalAndElectronicsLab {
    margin: 5px 20px 5px 20px;
    width: 50%;
    margin: auto;
}

.electricalAndElectronicsLabTitle{
    text-align: center;
    color: #e66702;   
    border-bottom: 1px solid #e66702;
    margin: 100px 130px 0px 130px;
}
.electricalAndElectronicsLabSource {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 15px auto;
    max-width: 100%;
}

.electricalAndElectronicsLabSource iframe {
    border-radius: 5px;
    margin-top: -30px;
    margin-bottom: -60px;
    height: 2180px;
    width: 100%;
}
