.ISTnotice {
    margin: 5px 20px 5px 20px;
}

.ISTnoticeSource {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 15px auto;
    max-width: 100%;
}

.ISTnoticeSource iframe {
    border-radius: 5px;
    margin-top: -380px;
    /* margin-bottom: -500px; */
    height: 1550px;
    width: 100%;
    /* transform: scale(0.95) */
}
